---
import RightColumnCard from '../../layouts/RightColumnCard.astro';
---

<RightColumnCard title='APARECE AQUÍ'>
  <p>
    ¿Tienes algún video tocando esta copla con tu guitarra? Envíanos el enlace y te mostraremos
    aquí.
  </p>
</RightColumnCard>
