---
import RightColumnCard from '../../layouts/RightColumnCard.astro';

const { class: className } = Astro.props;
---

<RightColumnCard title='Aparece con tu guitarra' headingId='aparece-aqui-title' class={className}>
  <section aria-labelledby='aparece-aqui-title'>
    <p>
      ¿Tienes algún <strong>video tocando</strong> esta copla con <strong>tu guitarra</strong>?
      <a href='/contacto'>Envíanos el enlace</a> y aparecerás aquí.
    </p>
    <p class='note'>
      Puede ser un video acompañando a la agrupación, cantando tú mismo/a o con algún amigo/a.
    </p>
  </section>
</RightColumnCard>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & a {
      color: var(--acorde-color);
      text-decoration: none;
    }
  }

  .note {
    font-size: 0.9em;
    color: var(--secondary-color);
    font-style: italic;
  }
</style>
