---
import { Icon } from 'astro-icon/components';
import RightColumnCard from '../../layouts/RightColumnCard.astro';

const { class: className } = Astro.props;
---

<RightColumnCard title='Sigue Tocando' headingId='sigue-tocando-heading' class={className}>
  <section class:list={['card', className]} aria-labelledby='sigue-tocando-heading'></section>
</RightColumnCard>

<style>
  /* Layout */
  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>
