---
import RightColumnCard from '../../layouts/RightColumnCard.astro';

const { class: className } = Astro.props;
---

<RightColumnCard title='SITIOS DE INTERÉS' headingId='sitios-de-interes-title' class={className}>
  <section aria-labelledby='sitios-de-interes-title'>
    <ul>
      <li>
        <a href='https://acordesgaditanos.blogspot.com/' target='_blank' rel='noopener'
          >Acordes Gaditanos (Blog Antiguo)</a
        >
      </li>
      <li>
        <a href='https://www.guitarradegades.com/' target='_blank' rel='noopener'
          >Guitarra de Gades</a
        >
      </li>
      <li>
        <a href='https://letrasdesdeelparaiso.blogspot.com/' target='_blank' rel='noopener'
          >Letras desde el paraíso</a
        >
      </li>
    </ul>
  </section>

  <style>
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      & li a {
        color: var(--primary-color);
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: var(--acorde-color);
        }
      }
    }
  </style>
</RightColumnCard>
