:root {
  --color-bg: #e5e5e5;
  --card-background-color: #ffffff;
  --card-primary-color: #000000;
  --card-secondary-color: #14213d;
  --card-primary-contrast-color: #fca311;
}

@media (max-width: 640px) {
  body {
    /* min-width: min-content; */
  }
}

body {
  background-color: var(--color-bg);
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container-layout {
  width: 90%;
  margin: auto;
  max-width: 1280px;
}

/* tablet: 3 columnas intermedias */
@media (min-width: 640px) {
  .container-layout {
    width: 95%;
  }
}
