:root {
  --color-bg: #e5e5e5;
  --card-background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #14213d;
  --primary-contrast-color: #fca311;
  --acorde-color: #04c;

  --app-max-width: 900px;

  --acorde-card-header-font-size-xl: 1.4rem;
  --acorde-card-header-font-size-sm: 1.25rem;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container-layout {
  width: 90%;
  margin: auto;
  max-width: var(--app-max-width);
}

/* tablet: 3 columnas intermedias */
@media (min-width: 640px) {
  .container-layout {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .container-layout {
    width: 98%;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  margin-top: 96px;
  padding-bottom: 32px;
  flex: 1 0 auto;
  min-height: 0; /* allow flex to control height */
}
