:root {
  --color-bg: #e5e5e5;
  --card-background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #14213d;
  --text-color: #222;
  --primary-contrast-color: #fca311;
  /* Variables para enlaces (elige la que uses por defecto) */

  --acorde-color: #04c;

  /* --link-color: #0b5fff; */
  --link-color: var(--acorde-color);
  --link-hover-color: #0736d1;

  --app-max-width: 1000px;
  --nav-height: 56px;
  --main-container-gap: 16px;
  --main-container-gap-sm: 8px;
  --card-padding: 12px;
  --card-padding-sm: 8px;

  /* --acorde-card-header-font-size-xl: 1.4rem; */
  --acorde-card-header-font-size-sm: 1.25rem;
  /* Color terciario para placeholders y elementos de baja prioridad */
  --placeholder-color: #94a3b8; /* gris azulado, suficiente contraste pero suave */
  --success-color: #28a745;
  --error-color: #ea1d6f;
}

@font-face {
  font-family: 'Bodoni';
  src: url('/fonts/bodoni-72-oldstyle-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-color: var(--color-bg);
  /* overflow-y: scroll; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1.4px;
}
p {
  letter-spacing: 0.5px;
}

.is-title-minus {
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container-layout {
  width: 90%;
  margin: auto;
  max-width: var(--app-max-width);
}

/* tablet: 3 columnas intermedias */
@media (min-width: 640px) {
  .container-layout {
    width: 95%;
    padding-top: 8px;
  }
  html {
    overflow-y: scroll;
  }
}

@media (max-width: 640px) {
  :root {
    --nav-height: 48px;
  }
  .container-layout {
    width: 95%;
  }
  .is-title-minus {
    letter-spacing: 0px;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  margin-top: calc(var(--nav-height) + var(--main-container-gap));
  /* padding-top: 32px; */
  padding-bottom: var(--main-container-gap);
  flex: 1 0 auto;
  min-height: 0;
}

@media (max-width: 640px) {
  .main-container {
    margin-top: calc(var(--nav-height) + var(--main-container-gap-sm));
    padding-bottom: var(--main-container-gap-sm);
    padding-top: 6px;
  }
}

@media (min-width: 1024px) {
  :root {
    --app-max-width: 920px;
  }
}

@media (min-width: 1700px) {
  :root {
    --app-max-width: 1000px;
  }
}
