:root {
  --color-bg: #e5e5e5;
  --card-background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #14213d;
  --primary-contrast-color: #fca311;
  --acorde-color: #04c;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container-layout {
  width: 90%;
  margin: auto;
  max-width: 900px;
}

/* tablet: 3 columnas intermedias */
@media (min-width: 640px) {
  .container-layout {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .container-layout {
    width: 98%;
  }
}
