:root {
  --color-bg: #e5e5e5;
  --card-background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #14213d;
  --text-color: #222;
  --primary-contrast-color: #fca311;
  /* Variables para enlaces (elige la que uses por defecto) */

  --acorde-color: #04c;

  /* --link-color: #0b5fff; */
  --link-color: var(--acorde-color);
  --link-hover-color: #0736d1;

  --app-max-width: 1050px;
  --nav-height: 48px;

  /* --acorde-card-header-font-size-xl: 1.4rem; */
  --acorde-card-header-font-size-sm: 1.25rem;
  /* Color terciario para placeholders y elementos de baja prioridad */
  --placeholder-color: #94a3b8; /* gris azulado, suficiente contraste pero suave */
  --success-color: #28a745;
  --error-color: #ea1d6f;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  overflow-y: scroll;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.container-layout {
  width: 90%;
  margin: auto;
  max-width: var(--app-max-width);
}

/* tablet: 3 columnas intermedias */
@media (min-width: 640px) {
  .container-layout {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .container-layout {
    width: 98%;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  margin-top: calc(var(--nav-height) + 32px);
  padding-bottom: 32px;
  flex: 1 0 auto;
  min-height: 0;
}
