---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CardsGroup from '../components/CardsGroup.astro';
import YearsList from '../components/YearsList.astro';
import AutorCardsGroup from '../components/AutorCardsGroup.astro';

function parseSpanishDate(str: string) {
  const [d, m, y] = str.split(/[-/]/).map(Number);
  return new Date(y, m - 1, d); // Date(year, monthIndex, day)
}

let acordes = await getCollection('acordes');

// Ordenar por fecha de creación descendente
acordes = acordes.sort((a, b) => {
  const dateA = parseSpanishDate(a.data.date);
  const dateB = parseSpanishDate(b.data.date);
  return dateB.getTime() - dateA.getTime();
});

// Los 4 más recientes
const ultimos = acordes.slice(0, 4);

// Destacadas: mostrar los acordes cuyo campo destacada sea distinto de null, ordenados por ese número ascendente
const destacadas = acordes
  .filter((acorde) => acorde.data.destacada !== null && acorde.data.destacada !== undefined)
  .sort((a, b) => {
    return Number(a.data.destacada) - Number(b.data.destacada);
  });

let autores = await getCollection('autores');
---

<Layout
  title='Acordes Gaditanos - Acordes y Letras del Carnaval de Cádiz'
  description='La mayor colección de acordes y letras del Carnaval de Cádiz. Encuentra acordes de chirigotas, comparsas, cuartetos y coros para tocar con tu guitarra.'>
  <div class='main-container container-layout'>
    <CardsGroup year={'LO ÚLTIMO'} acordes={ultimos} />
    <AutorCardsGroup autores={autores} />
    <CardsGroup year={'DESTACANDO'} acordes={destacadas} />
    <YearsList
      years={Array.from(new Set(acordes.map((acorde) => acorde.data.year))).sort((a, b) => b - a)}
    />
  </div>
</Layout>

<style>
  .main-container {
    display: flex;
    flex-direction: column;
    gap: var(--main-container-gap);
  }

  @media (max-width: 640px) {
    .main-container {
      gap: calc(var(--main-container-gap-sm) - 8px);
    }
  }
</style>
