<section class='card-container'>
  <header>
    <h1>Sitios de interés</h1>
  </header>

  <main>
    <ul>
      <li>Acordes Gaditanos</li>

      <li>Letras desde el paraíso</li>
    </ul>
  </main>
</section>

<style>
  .card-container {
    background-color: var(--card-background-color);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -16px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    flex: 1;
    padding: 8px 16px;
  }

  .card-container > header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-container > header > h1 {
    text-align: center;
    margin: 0;
    font-size: var(--acorde-card-header-font-size-xl);
    color: var(--primary-color);
  }

  .card-container ul {
    padding: 8px 16px;
    margin: 0;
  }

  @media (min-width: 640px) {
    .card-container {
      max-height: max-content;
    }
  }

  @media (max-width: 640px) {
    .card-container > header > h1 {
      font-size: var(--acorde-card-header-font-size-sm);
    }
  }
</style>
