---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Acordes Gaditanos</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body><style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    body {
      background-color: var(--color-bg);
    }
  </style>

  <style is:global>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
      padding: 0;
    }
  </style>
</html>
