---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import ContactInit from '../components/utils/ContactInit.astro';
import AnchoPreInit from '../components/utils/AnchoPreInit.astro';
import GoogleAnalytics from '../components/utils/GoogleAnalytics.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Acordes Gaditanos</title>
    <GoogleAnalytics measurementId={'G-CTX6DK49K4'} />
    <ClientRouter />
  </head>
  <body>
    <slot />
    <ContactInit />
    <AnchoPreInit />
  </body>
</html>
