---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import ContactInit from '../components/ContactInit.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Acordes Gaditanos</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
    <ContactInit client:idle />
  </body>
</html>
