---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import GoogleAnalytics from '../components/utils/GoogleAnalytics.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='google-site-verification' content='rcKUCESBALVUqnlrzW0AnQh8FqUzluPR9L1zex9eMw0' />
    <title>Acordes Gaditanos</title>

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src='https://static.cloudflareinsights.com/beacon.min.js'
      data-cf-beacon='{"token": "69575422c7ad4587aad9e1a1b02a5b43", "spa": true}'
    ></script><!-- End Cloudflare Web Analytics -->

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
